body {
    background-color: #d0e3ea;
}

header h1 {
    padding: 10px;
    background-color: #D5EBD1;
    box-shadow: 10px 10px 0px #A7A7A7;
    border-radius: 10px;
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #260F0F;
}

nav a {
    margin: 1rem 2rem 1rem 2rem;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #0077ffb4;;
    text-decoration: none;
}

.created-by {
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
}

.created-by p {
    text-align: right;
    margin: 0;
    line-height: auto;
}

.blogpost-desc {
    margin-top: 0;
    border-color: #260F0F;
    border: 5px solid;
}

.blogpost-desc p {
    margin: 20px;
    color: black;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #808080;
    text-decoration: none;
    font-size: 100%;
    margin: 23px;
    text-decoration: none;
}

.no-button:hover {
    color: #0077ffb4;
}

.form-input {
    margin: 10px;
    padding: 23px;
}